.login{
    width:100%;
    height:750px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.loginForm{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.loginForm input,button{
    margin-top: 10px;
    width: 80%;
    height: 50px;
    font-size: 20px;
}