.Register{
    width:100%;
    height:750px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
   
}

.RegisterForm{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
    justify-self: center;
    margin: 0 auto;
    text-align: center;
}

.Registwrap{
    margin-top: 100px;
}

.Registwrap h2{
    color: #094067;
}

.RegisterForm input,button{
    margin-top: 10px;
  
    height: 50px;
   

}

.registButton{
    margin-top: 20px;
}