.Register{
    width:100%;
    height:750px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.RegisterForm{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.RegisterForm input,button{
    margin: 10px;
    width: 400px;
    height: 50px;
    font-size: 20px;

}