
  .test{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .home{
    width:100%;
    height:750px;
    margin-top: 20px;
    color: #094067;
background-color: #fffffe;
text-align: center;
  }

  .rank{
      display: flex;
      flex-direction: row;
  }

  .home a{
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
  }
  a:visited{
    color: inherit;
  }

  @media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .home{
       font-size:small;
      }
    br.sp{
        display:inline;
    } 

       
}