
  .test{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .home{
    width:100%;
    height:750px;
    margin-top: 20px;
    color: #094067;
background-color: #fffffe;
  }

  .rank{
      display: flex;
      flex-direction: row;
  }

  .home a{
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
  }
  a:visited{
    color: inherit;
  }